<div style="float:right;">
  <img src="/images/motivation10.jpg" width="400" height="200">
  <img src="/images/motivation9.jpg" width="370" height="200">
  <img src="/images/motivation7.jpg" width="330" height="250">
  <img src="/images/motivation4.jpg" width="310" height="250">
</div>
<strong><h1 style="font-size:30px">Hey good-looking!!</h1><br>
<h2>Keep up the good work!</h2>
<h2>We are awesome and this project will be awesome.</h2></strong>
<div style="float:right;position:absolute;right:10px;bottom:10px;">
  <img src="/images/motivation5.png" width="650" height="350">
  <img src="/images/motivation3.jpg" width="440" height="330">
  <img src="/images/motivation8.jpg" width="330" height="250">
</div>
<img src="/images/motivation2.jpg" width="330" height="250">
<img src="/images/motivation6.jpg" width="440" height="250" style="position:absolute;top:300px;left:500px;">
<img src="/images/motivation13.jpg" width="370" height="450" style="position:absolute;bottom:10px;left:10px;">
<img src="/images/motivation14.jpg" width="370" height="300" style="position:absolute;top:270px;right:10px;">
<img src="/images/motivation11.jpg" width="370" height="300" style="position:absolute;top:270px;right:400px;">
<img src="/images/motivation1.jpg" width="370" height="300" style="position:absolute;top:270px;right:400px;">
<img src="/images/motivation12.jpg" width="370" height="300" style="position:absolute;top:270px;right:400px;">
